:root{
    --color-primary: #00d2b5;
    --color-primary-var: #00d2b5;
    --color-white: #fff;
    --color--light: rgba(255, 255, 255, 0.7);
    --color--black: #000;
    --color--bg: #f6f6f6;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

.courses{
    margin-top: 1rem;
}

.other-videos{
    margin-top: 6rem;
    border-top: 1px solid var(--color-primary);
    padding-top: 6rem;
}  

.videos-container article{
    background: var(--color--bg);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.videos-container article:hover{
    background: transparent;
    border-color: var(--color-primary);
}
